@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.Main {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  padding-top: 13px;
  background: url(https://static.wikia.nocookie.net/0dfbc1cb-6311-45e0-8b74-fc965ca9afc7),
    -webkit-linear-gradient(298.53deg, #fa005a -21.32%, #280033 77.37%), #520044;
  &__Logo {
    width: 300px;
  }
  &__Header{
    background-color: #ffc500;
    bottom: 0;
    box-shadow: 0px 3px 12px 0px rgba(14, 25, 26, 0.3);
    color: #520044;
    display: flex;
    flex-direction: column;
    font-family: rubik, helvetica, arial, sans-serif;
    justify-content: space-between;
    left: 0;
    padding: 10px 0 18px;
    position: fixed;
    top: 0;
    width: 66px;
    z-index: 500;
    &-top{
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icons{
        margin: 0 auto;
    display: block;
    height: 45px;
    width: 60px;
      }
      
      &--a{
        width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    
    &-svgcontainer{
      margin: 0;
    height: 30px;
    width: 30px;
    display: inline-grid;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
    border: 2px solid transparent;
    background-color: rgba(249, 237, 216, 0.75);
    svg{
    height: 18px;
    min-width: 18px;
    transition: fill 0.5s;
    width: 18px;
    }
    }
    &-svgtext{
      margin-top: 4px;
    color: #520044;
    max-width: 54px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.25;
    text-align: center;
    transition: color, opacity 0.3s;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    
    }
      }
      &__text{
        margin-top: 4px;
    color: #520044;
    max-width: 54px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.25;
    text-align: center;
    transition: color, opacity 0.3s;
    position: relative;
    font-weight: 700;
    overflow: hidden;
      }
      &__icon{
    margin-top: 15px;  
    height: 30px;
    width: 30px;
    display: inline-grid;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
    border: 2px solid transparent;
    background-color: rgba(249, 237, 216, 0.75);
      }
      &__icon svg{
        fill: #fff;
    height: 18px;
    min-width: 18px;
    transition: fill 0.5s;
    width: 18px;
      }
      
    }
    &-bottom{
      position: fixed;
    bottom: 0;
    padding: 8px 0 18px;
    }
  }
  
}
